# macOS system files
.DS_Store

# Node.js dependencies
**/node_modules

# Build outputs
**/dist
**/build

# Environment variables
.env
.env.*
!.env.example
!.env.test

# Docker temporary files / volumes
**/docker-compose.override.yml
**/mongo_data
**/redis_data

# Log files
*.log

# IDE / editor files
.vscode/
.idea/